<h1>Trips Index</h1>
<ul>


<% @trips.each do |trip| %>
  <h4><%= link_to trip.name, trip %><br></h4>
  Destination: <%=trip.destination%><br>
  <%if trip.itineraries.count > 0%>
  Itinerary: <%trip.itineraries.each do |i|%><br>
  <%= link_to "Day #{i.day}", i %><br>
<% end %>
<% end %>
<br><br>
<% end %>
</ul>

<h4 align='center'><%=link_to 'Create New Trip', new_trip_path%></h4>
