
<h1 align="center">Activities Glossery</h1>

<% @activities.each do |activity| %>
<a href="<%=activity_path(activity)%>" class="list-group-item list-group-item-action active">
  <h4><%=activity.name%> <br></h4>
  <%= activity.description%>

</a>


  <br>


  <%end%>


  <h4 align="center"><%= link_to "Add New Activity",new_activity_path%></h4>
