
<h1>Current Activities</h1>

<% @activities.each do |activity| %>
  <%= link_to activity.name, activity %><br>
  <%= link_to activity.description, activity %><br>
  <hr>

<h2>List of All Activities</h2>

<%@activities.each do |a|%>
  <%= link_to a.name, a %> - <%=a.description%><br> <br>

<% end %>
